body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    padding: 10px;
    text-align: center;
    color: white;
}

h1, h2 {
    text-align: center;
}

form {
    display: block;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

input[type="text"], input[type="password"], textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
}
